.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  position: absolute;
  margin: 0 auto;
  margin-bottom: -40em;
  font-family: Arial, Helvetica, sans-serif;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: hsl(216, 12%, 8%);
}

.frame {
  max-width: 415px;
  height: 415px;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%, 0.6);
}

#star {
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
}

#star2 {
  width: 15px;
  height: 15px;
}

#thanks {
  margin-top: 45px;
  margin-bottom: 15px;
}

#start {
  text-align: center;
}

#end {
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  display: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px;
  margin-bottom: 35px;
  margin-top: 25px;
}

.rating {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
  border: none;
}

.rating:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.rating:active,
.active {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.submit {
  width: 350px;
  height: 50px;
  background-color: hsl(25, 97%, 53%);
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  font-family: 'Overpass', sans-serif;
  box-shadow: none;
  border: none;
}

p {
  color: hsl(216, 12%, 54%);
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  font-size: 24.5px;
  line-height: 0.75;
  padding-inline: 35px;
}

#start h1 {
  text-align: left;
}

#start p {
  text-align: left;
  padding-inline: 35px;
  padding-bottom: 5px;
}

#end h1,
p {
  text-align: center;
}

.result {
  background-color: hsl(213, 19%, 18%);
  border-radius: 50px;
  margin-bottom: 40px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.result p {
  color: hsl(25, 97%, 53%);
}